
    <div class="row">
      <div class="col-lg-9 main-chart">

        <div class="row mtbox">
          <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
            <a class="box1" href="/matrix/ie">
              <img src="/assets/img/browser/internet-explorer_128x128.png" />
              <h3>-33 ~14</h3>
            </a>
            <p>Internet Explorer</p>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <a class="box1" href="/matrix/firefox">
              <img src="/assets/img/browser/firefox_128x128.png" />
              <h3>+21 ~4</h3>
            </a>
            <p>Mozilla Firefox</p>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <a class="box1" href="/matrix/chrome">
              <img src="/assets/img/browser/chrome_128x128.png" />
              <h3>+46 ~2</h3>
            </a>
            <p>Google Chrome</p>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <a class="box1" href="/matrix/safari">
              <img src="/assets/img/browser/safari_128x128.png" />
              <h3>+10 ~0</h3>
            </a>
            <p>Apple Safari</p>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <a class="box1" href="/matrix/opera">
              <img src="/assets/img/browser/opera_128x128.png" />
              <h3>+3 ~10</h3>
            </a>
            <p>Opera Browser</p>
          </div>

        </div>
        <!-- /row mt -->





      </div>
      <!-- /row -->

    </div>
    <!-- /col-lg-9 END SECTION MIDDLE -->
